
.user {
  .container {
    max-width: 1200px;
    margin: 0 auto;

    .inner {
      margin: 0 auto;

      display: flex;

      justify-content: center;

      align-items: center;
      flex-direction: column;

      max-width: 300px;
      background-color: #c77a7a;

      color: #eff6d5;

      .letterBlock {
        width: 40px;
        height: 40px;

        border-radius: 50%;

        background-color: #e3dfe5;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 8px 0 0 0;

        span{
          color: #2c2b34;
        }
      }
    }
  }
}
