.users {
.logicBlock{
  display: flex;

  justify-content: center;
  align-items: center;

  flex-direction: column;
}
  .usersBlock {
    margin-top: 40px;
    padding: 5px;

    display: grid;
    grid-template-columns: repeat(3,20%);

    justify-content: space-around;
    grid-auto-flow: row;



  }
}